---
title: Home
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
    <body id="home">
        <header class="home-header">
            <a href="#home" class="logo">
               <div class="logo-circle"></div>
               <div class="logo-square-bg"></div>
               <div class="logo-square"></div>
               <div class="logo-triangle"></div>
            </a>
            <nav class="home-header-nav">
               <a href="#projects">Projects</a>
               <a href="#writing">Writing</a>
               <a href="#about">About</a>
            </nav>
        </header>

        <div class="wrapper-home">
            <div class="wrapper-intro">
                <section class="intro">
                   <h1 class="intro-greeting">Hi, I'm Adam.</h1>
                   <span class='intro-bio'>A designer @ Dropbox working on Design Systems.</span>
                </section>
                <div class="intro-scroll">
                   <div></div>
                </div>
            </div>
            <section id="projects">
               <h2>Projects</h2>
                <ol>
                    {% for post in site.posts limit: 10 %}
                        {% if post.categories contains 'work' %}
                           {% if post.type contains 'Featured' %}
                              <li class="tile-work-featured">
                                 <a href="">
                                     <img class= "tile-work-thumbnail-featured" src="images/placeholder.png" alt="">
                                     <div class="tile-work-description-featured">
                                        <h2 class="tile-work-description-title">{{ post.title }}</h2>
                                        <p class="tile-work-description-summary">{{ post.summary }}</p>
                                        <button class="tile-work-cta">Read More</button>
                                     </div>
                                 </a>
                              </li>
                           {% else %}
                              <li class="tile-work">
                                <a href="{{ post.url }}">
                                    <img class= "tile-work-thumbnail" src="images/onboarding.png" alt="{{ post.thumbnailDesc }}">
                                    <div class="tile-work-description">
                                       <h2 class="tile-work-description-title">{{ post.title }}</h2>
                                       <p class="tile-work-description-summary">{{ post.summary }}</p>
                                       <button class="tile-work-cta">Read More</button>
                                    </div>
                                </a>
                              </li>
                           {% endif %}
                        {% endif %}
                    {% endfor %}
                </ol>
            </section>

           <section id="writing">
            <h2>Writing</h2>
             <ol>
                <li class="tile-writing">
                 <a href="{{ post.url }}">
                      <div class="tile-writing-description">
                        <h2 class="tile-work-description-title">The Man Who Saved My Sister</h2>
                        <p class="tile-work-description-summary">In October 2018, my family took a trip to and across China to trace my adopted sister’s roots. It was a remarkable trip that culminated in an experience none of us saw coming.</p>
                        <button class="tile-work-cta">Read On Medium</button>
                      </div>
                 </a>
                </li>
                <li class="tile-writing">
                 <a href="{{ post.url }}">
                      <div class="tile-writing-description">
                        <h2 class="tile-work-description-title">Using Figma At Scale</h2>
                        <p class="tile-work-description-summary">In early 2019, the Design Systems team Dropbox migrated our entire team to Figma from Sketch. Here’s what we learned.</p>
                        <button class="tile-work-cta">Read On Medium</button>
                      </div>
                 </a>
                </li>
             </ol>
           </section>
           <section id="about">
             <h2>About</h2>
             <section class="about-main">
                <p>I’m Adam Noffsinger, a Senior Product Designer at Dropbox working on Design Systems. I’ve been with company since late 2017.</p>
                <p>Before joining Dropbox, I was an early designer at Uber and worked on the consumer-facing Rides and Eats mobile apps for about 3 years. It was one heck of an experience.</p>
                <p>Before getting into product design, I dabbled in creative writing (poetry, specifically) and was an Account Manager in advertising. Needless to say, it wasn;t for me.</p>
                <p>I'm most passionate about mobile product, but have extensive experience across web and desktop as well. I'm interested in solving problems related to transportation and mapping, fitness, gaming, music, and travel. I love getting my hands dirty in code and mentoring new designers.</p>
             </section>
             <section class="about-contact">
                <h3>Get In Touch</h3>
                <p>The best way to reach me directly is via email, but Twitter is also a solid bet.</p>
                <p>My Instagram is public, so feel free to check that out.</p>
                <p>LinkedIn probably isn’t your best bet, but has a more thorough work history if you’re into that.</p>
             </section>
             <section class="about-site">
                <h3>Colophon</h3>
                <p>This site is built from scratch with good ‘ole fashioned HTML, CSS, and Javascript. It uses the Graphik and Arnhem font families.</p>
                <p>Shout outs to Jekyll, the templating framework I use for posts and Design Camera, which I used for creating isometric UI shots.</p>
             </section>
           </section>
           {% include footer.html %}
        </div>

        {% include scripts.html %}
    </body>
</html>
