// levers
$shapeOpacity: .035;
$rotationSpeed: 20s;
$colorChangeTime: .2s;
$scaleTime: 1.5s;

// colors
$pink: #FF746F;
$yellow: #FFFB6F;
$beige: #FBEDBC;
$greyUltraDark: #151515;
$greyVeryDark: #272727;
$greyDark: #606060;
$greyMedium: #CACACA;
$greyLight: #F7F7F7;
$black: #000000;
$white: #ffffff;

// type
$billboard: 3rem/120% 'Graphik-Medium', Helvetica, Sans-Serif;
$headingOne: 2.375rem/120% 'Graphik-Medium', Helvetica, Sans-Serif;
$headingTwo: 1.75rem/110% 'Graphik-Regular', Helvetica, Sans-Serif;
$headingThree: 1rem/100% 'Graphik-Regular', Helvetica, Sans-Serif;

$regularLarge: 2.875rem/125% 'Graphik-Regular', Helvetica, Sans-Serif; // 46px
$regularMedium: 1.625rem/150% 'Graphik-Regular', Helvetica, Sans-Serif; // 26px
$paragraph: 400 0.875rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 14px
$label: 0.625rem 'Graphik-Medium', Helvetica, Sans-Serif; // 10px
$caption: 0.75rem 'Graphik-RegularItalic', Helvetica, Sans-Serif; // 12px

// spacing
$verticalSpaceSmall: .3em;
$verticalSpaceMedium: 1.75rem;
$headerSpace: 10em;
$verticalSpaceLarge: 4em;
$verticalSpaceExtraLarge: 8em;

// breakpoints
$breakpointLarge: 1440px; // 15 inch mbp
$breakpointMedium: 944px; // 13 inch mbp
$breakpointSmall: 696px; // mobile device

// animations
$loadedDistance: 20px;
$loadedStagger: .2s;
$longDuration: .8s;
$shortDuration: .4s;
$bezier: cubic-bezier(0,.46,.24,1);

$bezierEaseOut: cubic-bezier(.3,0,0,1);

$durationLong: .6s;
$durationMedium: .4s;
$durationShort: .2s;
$durationExtraLong: .9s;
