// levers
$rotationSpeed: 20s;

// colors
$pink: #FF746F;
$greyUltraDark: #272727;
$greyDark: #606060;
$greyMedium: #CACACA;
$black: #000000;
$white: #ffffff;

// type
$medium46: 2.875rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 46px - intro
$medium38: 2.375rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 38px - story title, work tile title
$medium28: 1.75rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 28px - work tile title small
$medium14: 0.875rem 'Graphik-Medium', Helvetica, Sans-Serif; // 14px - embedded paragraph links

$regular46: 2.875rem/125% 'Graphik-Regular', Helvetica, Sans-Serif; // 46px - about billboard
$regular28: 1.75rem/150% 'Graphik-Regular', Helvetica, Sans-Serif; // 28px - about details
$regular16: 1rem 'Graphik-Regular', Helvetica, Sans-Serif; // 16px - about link, intro greeting
$regular14: 400 0.875rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 14px - all paragraph, work tile description and tags, twitter getter
$regular12: 0.75rem/145% 'Graphik-Regular', Helvetica, Sans-Serif; // 12px - back button, work tile description and tags small

$caption: 0.625rem/155% 'Graphik-RegularItalic', Helvetica, Sans-Serif; // 10px - story date, post-caption
$sectionLabel: 0.625rem 'Graphik-Medium', Helvetica, Sans-Serif; // 10px story section label, about section label

// spacing
$headerSpace: 10em;
$verticalSpaceLarge: 8em;
$verticalSpaceSmall: .3em;
$verticalSpaceMedium: 1.75rem;

// breakpoints
$breakpointLarge: 1440px; // 15 inch mbp
$breakpointMedium: 944px; // 13 inch mbp
$breakpointSmall: 696px; // mobile device

// curves
$bezierEaseOut: cubic-bezier(.3,0,0,1);

// timing
$durationExtraLong: .9s;
$durationLong: .6s;
$durationMedium: .4s;
$durationShort: .2s;
