// levers
$rotationSpeed: 20s;

// colors
$accent: #FCF086;
$siteBackground: #1C1C1C;

$white-20: rgba(255, 255, 255, .2);

$greyUltraDark: #272727;
$greyDark: #606060;
$greyMedium: #CACACA;
$black: #000000;
$white: #ffffff;

// type
$heading-1: 4.375rem/120% 'Arnhem-Bold', Helvetica, Serif; // 70px - intro
$cta: 1.125rem/120% 'Graphik-Regular', Helvetica, Sans-Serif; // 18px

$medium38: 2.375rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 38px - story title, work tile title
$medium28: 1.75rem/120% 'Graphik-Medium', Helvetica, Sans-Serif; // 28px - work tile title small
$medium14: 0.875rem 'Graphik-Medium', Helvetica, Sans-Serif; // 14px - embedded paragraph links

$regular46: 2.875rem/125% 'Graphik-Regular', Helvetica, Sans-Serif; // 46px - about billboard
$regular28: 1.75rem/150% 'Graphik-Regular', Helvetica, Sans-Serif; // 28px - about details
$regular16: 1rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 16px - about link, intro greeting, all paragraph, work tile description and tags, twitter getter
// $regular14: 400 0.875rem/180% 'Graphik-Regular', Helvetica, Sans-Serif; // 14px
$regular12: 0.75rem/165% 'Graphik-Regular', Helvetica, Sans-Serif; // 12px - back button, work tile description and tags small

$caption: 0.75rem/155% 'Graphik-RegularItalic', Helvetica, Sans-Serif; // 12px - story date, post-caption
$sectionLabel: 0.6875rem 'Graphik-Medium', Helvetica, Sans-Serif; // 11px story section label, about section label

// spacing
$headerSpace: 10em;
$verticalSpaceLarge: 8em;
$verticalSpaceSmall: .3em;
$verticalSpaceMedium: 1.75rem;

// breakpoints
$breakpointLarge: 1440px; // 15 inch mbp
$breakpointMedium: 944px; // 13 inch mbp
$breakpointSmall: 696px; // mobile device

// curves
$bezierEaseOut: cubic-bezier(.3,0,0,1);

// timing
$durationExtraLong: .9s;
$durationLong: .6s;
$durationMedium: .4s;
$durationShort: .2s;
