<head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A product designer living and working SF.">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    {% if page.title == "Home" %}
    <link rel="stylesheet" href="css/style.css">
    {% else if page.title == "Kittens" %}
    <link rel="stylesheet" href="../../../../css/style.css">
    {% else %}
    <link rel="stylesheet" href="../css/style.css">
    {% endif %}
</head>
