<header class="header-work">
    <a href="/" class="header-work-back">
        {% if page.title contains "Nomad" %}
            <svg width="21" height="14" viewBox="0 0 21 14" xmlns="http://www.w3.org/2000/svg">
                <path class="header-work-back-icon" d="M2.763 6.036l4.35-4.516L6.03.48-.04 6.786l6.07 6.306 1.082-1.04-4.35-4.516H20.27v-1.5H2.763z" fill-rule="nonzero" fill="#FFF"/>
            </svg>
            <span class="header-work-back-light">Back</span>
        {% else %}
            <svg width="21" height="14" viewBox="0 0 21 14" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.763 6.036l4.35-4.516L6.03.48-.04 6.786l6.07 6.306 1.082-1.04-4.35-4.516H20.27v-1.5H2.763z" fill-rule="nonzero" fill="#606060"/>
            </svg>
            <span class="header-work-back-dark">Back</span>
        {% endif %}
    </a>
</header>
