    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- <script src="../js/jquery-3.1.1.js"></script> -->
    <script src="../js/script-common.js"></script>
    <script src="../js/script-home.js"></script>
    <script src="../js/parallax.js"></script>
    <script src="../js/script-twitter-getter.js"></script>
    <script src="../js/blazy.min.js"></script>

    <!-- jQuery ScrollTo Plugin -->
    <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

    <!-- History.js -->
    <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

    <!-- Ajaxify -->
    <script src="js/ajaxify.js"></script>
