---
title: About
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <div id="content">
        <div class="wrapper-about">
            <section class="story story-about grid col-one-third">
                <h2 class="heading-one">A Colorado boy who can't stop moving west</h2>
                <section class="story-section">
                    <h3 class="label">My Story</h3>
                    <p class="paragraph-dark">Part of my work on the new Uber app included revamping our age-old register and login flows. Part of my work on the new Uber app included revamping our age-old register and login flows. </p>
                </section>

                <section class="story-section">
                    <h3 class="label">Tools</h3>
                    <p class="paragraph-dark">Part of my work on the new Uber app included revamping our age-old register and login flows. Part of my work on the new Uber app included revamping our age-old register and login flows. </p>
                </section>

                <section class="story-section">
                    <h3 class="label">This Site</h3>
                    <p class="paragraph-dark">Part of my work on the new Uber app included revamping our age-old register and login flows. Part of my work on the new Uber app included revamping our age-old register and login flows. </p>
                </section>
            </section>
        </div>
        {% include footer.html %}
    </div>
    <div id="scene" class="background">
        <div class="layer background-container" data-depth=".05">
            <div class="shape-square-1 rotating"></div>
            <div class="shape-circle-1"></div>
            <div class="shape-triangle-1 rotating"></div>
        </div>
        <div class="layer background-container" data-depth=".1">
            <div class="shape-square-2 rotating"></div>
            <div class="shape-circle-2"></div>
            <div class="shape-triangle-2 rotating"></div>
        </div>
        <div class="layer background-container" data-depth=".15">
            <div class="shape-circle-3"></div>
            <div class="shape-triangle-3 rotating"></div>
            <div class="shape-square-3 rotating"></div>
        </div>
        <div class="layer background-container" data-depth=".2">
            <div class="shape-triangle-4 rotating"></div>
            <div class="shape-circle-4"></div>
            <div class="shape-square-4 rotating"></div>
        </div>
    </div>

    {% include scripts.html %}

</body>
</html>
