#about {
    padding-top: 12em;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2;

    transition: all $durationExtraLong $bezierEaseOut;

    @media (max-width: $breakpointSmall) {
        padding-top: 9em;
    }
}

.about-visible {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.about-header {
    height: $headerSpace;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20% 0 20%;

    @media (max-width: $breakpointLarge) {
        padding: 0 12.5% 0 12.5%;
    }
}

.about-container {
    transform: translateY(50px);
    transition: transform $durationExtraLong $bezierEaseOut;
}

.about-container-loaded {
    transform: translateY(0px);
}

.about-billboard {
    font: $regular46;
    color: $greyDark;
    width: 40%;
    margin: 0 auto 2em auto;

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regular28;
    }
}

.about-billboard-paragraph {
    margin-bottom: $verticalSpaceMedium;
}

.about-details {
    @extend %clearfix;

    width: 40%;
    margin: 0 auto 5.75em auto;

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regular28;
        margin-bottom: 2em;
    }

    > section:nth-of-type(1) {
        width: 33.33%;
        float: left;
        padding-right: 20px;

        @media (max-width: $breakpointMedium) {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 5.75em;
        }

        @media (max-width: $breakpointSmall) {
            margin-bottom: 2em;
        }
    }

    > section:nth-of-type(2) {
        width: 66.66%;
        float: left;

        @media (max-width: $breakpointMedium) {
            display: block;
            float: none;
            width: 100%;
        }
    }
}

.about-details-label {
    font: $sectionLabel;
    color: $greyDark;
    text-transform: uppercase;
    margin-bottom: $verticalSpaceMedium;
    letter-spacing: .2em;
}

.about-details-list-item {
    font: $regular28;
    color: $greyDark;

    @media (max-width: $breakpointSmall) {
        width: 100%;
        font: $regular16;
        margin-bottom: .6em;
    }
}

.about-details-paragraph {
    font: $regular28;
    color: $greyDark;

    @media (max-width: $breakpointSmall) {
        width: 100%;
        font: $regular16;
        line-height: 160%;
    }
}

.about-links {
    @extend %clearfix;

    width: 40%;
    margin: 0 auto 5.75em auto;

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regular28;
        margin-bottom: 2em;
    }
}
