.about-main {
   font: $bodyMega;
   color: $grey400;
   margin-bottom: $spaceMedium;

   > p {
      margin-bottom: $spaceSmall;
   }
}

.about-contact, .about-site {
   font: $bodyRegular;
   color: $grey400;
   width: 49%;

   > h3 {
      margin-bottom: $spaceExtraSmall;
   }

   > p {
      margin-bottom: $spaceSmall;
   }
}

.about-contact {
   float: left;
}

.about-site {
   float: right;
}
