#footer {
    @extend %clearfix;

    background-color: $greyVeryDark;
    height: 20em;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    display: flex;
    align-items: center;
}
