.home-header {
    height: $headerFooterHeight;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0 20% 0 20%;
    background-color: $siteBackground;
    opacity: 0;

    transition: all 1.5s ease;

    @media (max-width: $breakpointLarge) {
        padding: 0 12.5% 0 12.5%;
    }
}

.home-header-loaded {
    opacity: 1;
}

.home-header-scrolled {
   background-color: $siteBackground;
   box-shadow: $shadowChrome;
}

.home-header-nav {
   display: block;

   > a {
      font: $cta;
      color: $white;
      margin-right: .5em;
   }
}
