#post-header {
   height: $headerFooterHeight;
   position: fixed;
   top: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1;
   padding: 0 20% 0 20%;
   background-color: transparent;

   @media (max-width: $breakpointLarge) {
       padding: 0 12.5% 0 12.5%;
   }
}

.post-header-scrolled {
    background-color: $siteBackground !important;
    box-shadow: 0px 0px 70px 0px rgba(0,0,0,0.1);

    &:after {
      content: '';
      width: 100%;
      display: block;
      background-color: $grey200;
      opacity: .5;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
   }

    @media (max-width: $breakpointSmall) {
        height: 4em;
    }
}


.post-header-back {
    transform: translateX(-20px);
    transition: all $durationExtraLong $bezierEaseOut;
    opacity: 0;

    > svg {
        vertical-align: middle;
        margin-right: .5em;
    }

    > span {
        font: $regular12;
        vertical-align: middle;
    }
}

.post-header-back-loaded {
    transform: translateX(0);
    opacity: 1;
}

.post-header-back-icon {
    @media (max-width: $breakpointSmall) {
        fill: $grey400;
    }
}

.post-header-back-icon-dark {
    fill: $grey400 !important;
}

.post-header-label-light {
    color: $white;

    @media (max-width: $breakpointSmall) {
        color: $grey400;
    }
}

.post-header-label-dark {
        color: $grey400;
}
