.wrapper-home {
   padding: 0 23%;

   @media (max-width: $breakpointLarge) {
       padding: 0 12.5% 0 12.5%;
   }
}

.wrapper-intro {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;

    // @media (max-width: $breakpointLarge) {
    //     padding: 0 12.5% 0 12.5%;
    // }
    //
    // @media (max-width: $breakpointSmall) {
    //     padding: 12em 12.5% 7em 12.5%;
    //     height: auto;
    // }
}

.wrapper-post {
    width: 50%;
    margin: 0 auto;
    position: relative;

    @media (max-width: $breakpointLarge) {
        width: 75%;
    }

    @media (max-width: $breakpointSmall) {
        width: 90%;
        padding-top: 7.4em;
    }
}

#projects {
    width: 100%;
    margin-bottom: $spaceMega;

    // @media (max-width: $breakpointLarge) {
    //     width: 75%;
    // }
    //
    // @media (max-width: $breakpointSmall) {
    //     width: 90%;;
    // }
}

#writing {
   margin-bottom: $spaceMega;
}

#about {
   @extend %clearfix;

   margin-bottom: $spaceMega;
}

#projects, #writing, #about {
   &:before {
      display: block;
      content: " ";
      margin-top: -210px;
      height: 210px;
      visibility: hidden;
      pointer-events: none;
   }
}
