---
title: Work
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include header.html %}
    <div id="content">
        <div class="wrapper-work">
            <ol class="grid">
                {% for post in site.posts limit: 10 %}
                    {% if post.categories contains 'work' %}
                        <li class="work-item">
                            <a href="{{ post.url }}">
                                <img class= "work-item-thumbnail" src="{{ post.thumbnail }}" class="work-item-img" alt="{{ post.thumbnailDesc }}">
                                <div class="work-item-description {{ post.keyColor }}">
                                    {% if post.keyColor == "signup" or post.keyColor == "skoop" %}
                                        <span class="work-item-description-company-dark">{{ post.company }}</span>
                                        <div>
                                            <h2 class="work-item-description-title-dark">{{ post.title }}</h2>
                                            <p class="work-item-description-summary-dark">{{ post.summary }}</p>
                                        </div>
                                    {% else %}
                                        <span class="work-item-description-company">{{ post.company }}</span>
                                        <div>
                                            <h2 class="work-item-description-title">{{ post.title }}</h2>
                                            <p class="work-item-description-summary">{{ post.summary }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ol>
            {% include footer.html %}
        </div>
    </div>
    
    {% include scripts.html %}
</body>
</html>
