#about {
    padding-top: 12em;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    // this should prob be display none
    visibility: hidden;
    opacity: 0;
    position: relative;
    pointer-events: none;
    z-index: 2;
}

.about-visible {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.about-billboard {
    font: $regularLarge;
    color: $greyDark;
    width: 66.6%;
    margin: 0 auto 2em auto;

    > p {
        margin-bottom: $verticalSpaceMedium;
    }
}

.about-details {
    @extend %clearfix;

    width: 66.6%;
    margin: 0 auto;

    li {
        font: $regularMedium;
        color: $greyDark;
    }

    p {
        font: $regularMedium;
        color: $greyDark;
    }

    h2 {
        font: $label;
        color: $greyDark;
        text-transform: uppercase;
        margin-bottom: $verticalSpaceMedium;
        letter-spacing: .1em;
    }

    > section:nth-of-type(1) {
        width: 25%;
        float: left;
    }

    > section:nth-of-type(2) {
        width: 75%;
        float: left;
    }
}
