#about {
    padding-top: 12em;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: relative;
    pointer-events: none;
    z-index: 2;

    transition: all $durationExtraLong $bezierEaseOut;

    @media (max-width: $breakpointSmall) {
        padding-top: 9em;
    }
}

.about-container {
    transform: translateY(50px);
    transition: transform $durationExtraLong $bezierEaseOut;
}

.about-container-loaded {
    transform: translateY(0px);
}

.about-visible {
    visibility: visible !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

.about-billboard {
    font: $regularLarge;
    color: $greyDark;
    width: 40%;
    margin: 0 auto 2em auto;

    > p {
        margin-bottom: $verticalSpaceMedium;
    }

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regularMedium;
    }
}

.about-details {
    @extend %clearfix;
    width: 40%;
    margin: 0 auto 5.75em auto;

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regularMedium;
        margin-bottom: 2em;
    }

    li {
        font: $regularMedium;
        color: $greyDark;

        @media (max-width: $breakpointSmall) {
            width: 100%;
            font: $paragraphLarge;
        }
    }

    p {
        font: $regularMedium;
        color: $greyDark;

        @media (max-width: $breakpointSmall) {
            width: 100%;
            font: $paragraphLarge;
        }
    }

    h2 {
        font: $label;
        color: $greyDark;
        text-transform: uppercase;
        margin-bottom: $verticalSpaceMedium;
        letter-spacing: .1em;
    }

    > section:nth-of-type(1) {
        width: 25%;
        float: left;
        padding-right: 20px;

        @media (max-width: $breakpointMedium) {
            display: block;
            float: none;
            width: 100%;
            margin-bottom: 5.75em;
        }

        @media (max-width: $breakpointSmall) {
            margin-bottom: 2em;
        }
    }

    > section:nth-of-type(2) {
        width: 75%;
        float: left;

        @media (max-width: $breakpointMedium) {
            display: block;
            float: none;
            width: 100%;
        }
    }
}

.about-links {
    content: "";
    clear: both;
    display: table;
    width: 40%;
    margin: 0 auto 5.75em auto;

    @media (max-width: $breakpointLarge) {
        width: 45%;
    }

    @media (max-width: $breakpointMedium) {
        width: 60%;
    }

    @media (max-width: $breakpointSmall) {
        width: 75%;
        font: $regularMedium;
        margin-bottom: 2em;
    }

    > a {
        display: block;
        float: left;
        height: 28px;
        width: 28px;
        margin-right: .5em;

        transition: all .2s ease;

        &:hover {
            opacity: .5;
        }
    }
}
