.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: all $scaleTime ease;
}

.background-nightmode {
    background-color: $greyUltraDark;
}

.background-gradient {
    background-image: linear-gradient();
    background-color: transparent;
}

.background-scaled {
    transform: translate3d(0, 0, 0) scale(1.2);
}

.background-hidden {
    opacity: 0;
}

.background-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

[class*='shape-square'] {
    z-index: -1;
    position: absolute;
    opacity: $shapeOpacity;
    background-color: $black;
    transition: all $colorChangeTime ease;
}

.shape-nightmode {
    opacity: .015;
    background-color: $white !important;
}

.shape-nightmode-triangle {
    opacity: .015;
    border-color: transparent transparent $white transparent !important;
}

[class*='shape-circle'] {
    z-index: -1;
    position: absolute;
    opacity: $shapeOpacity;
    background-color: $black;
    transition: all $colorChangeTime ease;
}

[class*='shape-triangle'] {
    z-index: -1;
    position: absolute;
    opacity: $shapeOpacity;
    transition: all $colorChangeTime ease;
}

.shape-square-1 {
    height: 166px;
    width: 166px;
    bottom: 7%;
    left: 7%;
}

.shape-square-2 {
    height: 115px;
    width: 115px;
    top: -15%;
    left: 30%;
}

.shape-square-3 {
    height: 36px;
    width: 36px;
    bottom: 15%;
    left: 40%;
}

.shape-square-4 {
    height: 15px;
    width: 15px;
    top: 35%;
    right: 20%;
}

.shape-triangle-1 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 108.5px 188.1px 108.5px;
    border-color: transparent transparent $black transparent;
    top: 20%;
    left: -100px;
}

.shape-triangle-2 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 73px 126.56px 73px;
    border-color: transparent transparent $black transparent;
    top: 60%;
    right: 8%;
}

.shape-triangle-3 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 51px 88.42px 51px;
    border-color: transparent transparent $black transparent;
    top: -5%;
    left: 52%;
}

.shape-triangle-4 {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7.5px 13px 7.5px;
    border-color: transparent transparent $black transparent;
    top: 28%;
    left: 30%;
}

.shape-circle-1 {
    height: 166px;
    width: 166px;
    border-radius: 83px;
    top: 15%;
    right: -8%;
}

.shape-circle-2 {
    height: 115px;
    width: 115px;
    border-radius: 57.5px;
    top: 37%;
    left: 52%;
}

.shape-circle-3 {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    top: 84px;
    left: 188px;
}

.shape-circle-4 {
    height: 10px;
    width: 10px;
    border-radius: 7.5px;
    bottom: 5%;
    left: 75%;
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotating {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.rotating {
    animation: rotating $rotationSpeed linear infinite;
}
