.footer-links {
    float: right;
    @extend %clearfix;

    @media (max-width: $breakpointSmall) {
        float: none;
        width: 208px;
        margin: 0 auto;
    }

    > a {
        display: block;
        float: left;
        height: 28px;
        width: 28px;
        margin-right: .5em;

        transition: all .2s ease;

        @media (max-width: $breakpointSmall) {
            &:last-of-type {
                margin-right: 0;
            }
        }

        &:hover {
            opacity: .5;
        }
    }
}

.footer-links-iso {
    display: block;
    margin: 0 auto;
    text-align: center;
}
