.header-home {
    height: $headerSpace;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    padding: 0 20% 0 20%;

    @media (max-width: $breakpointLarge) {
        padding: 0 12.5% 0 12.5%;
    }
}

.header-home-about {
    font: $headingThree;
    color: $greyDark;
    margin: 0 auto;
    cursor: pointer;
}

.header-home-about-hidden {
    pointer-events: none !important;

}





.header-navigation-item-work-active {
    pointer-events: auto !important;
}

.rotate-left {
    transform: rotate(90deg) !important;
    opacity: 1 !important;
}

.rotate-right {
    opacity: 1 !important;
}
