.header {
    height: $headerSpace;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    transition: all .3s ease;
}

.header-scrolled {
    height: 5em;
    background-color: $white;
}

.header-navigation {
    text-align: center;
}

.header-back {
    position: absolute;
    left: 0;
}

.header-navigation-list {
    > li {
        display: inline-block;
        margin-right: 1.5rem;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.header-navigation-item {
    @extend %clearfix;

    font: $headingThree;
    color: $greyMedium;
    transition: all $colorChangeTime ease;

    &:hover {
        color: $greyDark;
    }
}

.header-navigation-item-active {
    color: $greyDark;
}

.header-navigation-item-active-nightmode {
    color: $greyMedium;
}

.header-navigation-item-inactive-nightmode {
    color: $greyDark;
}

.header-button-back {
    transition: all .2s ease;
    float: left;
    margin-right: 2em;
    height: auto;

    &:hover {
        opacity: .4;
    }
}

.header-title {
    height: auto;
    font: $headingThree;
    color: $greyDark;
    float: left;
}
