.intro {
    > h1 {
        font: $headingThree;
        color: $greyMedium;
    }

    > p {
        font: $billboard;
        color: $greyDark;
    }

    > span {
        position: absolute;
        bottom: 4.8em;
    }
}

.intro-greeting-nightmode {
    color: $pink;
}

.intro-heading-nightmode {
    color: $greyMedium;
}
