.intro {
    width: 66.66%;
    margin: 0 auto;
}

.intro-greeting {
    font: $headingThree;
    margin-bottom: 1em;
    text-align: center;
    color: $greyMedium;

    transition: all $durationLong ease;

    @media (max-width: $breakpointSmall) {
        text-align: left;
    }
}

.intro-bio {
    font: $billboard;
    text-align: center;
    color: $greyDark;

    transition: all $durationLong ease;

    > span {
        color: $pink;
    }

    @media (max-width: $breakpointSmall) {
        text-align: left;
        width: 90%;
    }
}

.intro-arrow {
    position: absolute;
    bottom: 4.8em;
    right: 50%;
    margin-right: -8px;
    // animation: arrowFloat 2s infinite;
}

@keyframes arrowFloat {
  0%   { transform: translateY(0px); }
  50%   { transform: translateY(10px); }
  100%   { transform: translateY(0px); }
}
