.intro {
    margin: 0 auto;
    font: $heading-1;
    text-align: left;

    @media (max-width: $breakpointSmall) {
        width: 100%;
    }
}

.intro-greeting {
    color: $accent;
    display: block;

}

.intro-bio {
    color: $white;
    display: block;
}

.intro-copy-loaded {
    opacity: 1;
    transform: translateY(0);
}

.intro-scroll {
    position: absolute;
    bottom: 4.8em;
    height: 44px;
    width: 28px;
    border-width: 1px;
    border-color: $grey300;
    border-style: solid;
    border-radius: 100px;
    display: block;

    > div {
      display: block;
      width: 8px;
      height: 8px;
      background-color: $accent;
      border-radius: 4px;
      margin-left: 9px;

      animation: arrowFloat 2s infinite;
      transition: transform $durationShort ease, opacity $durationExtraLong ease;
   }

    @media (max-width: $breakpointSmall) {
        visibility: hidden;
    }
}

.intro-arrow-hidden {
    opacity: 0 !important;
}

.intro-arrow-loaded {
    opacity: 1;
}
