.nightmode-background {
    background-color: $grey200;
}

.nightmode-text-light {
    color: $greyMedium;
}

.nightmode-text-dark {
    color: $greyDark;
}

.nightmode-shapes-triangle {
    &:after {
        border-color: transparent transparent $grey200 transparent !important;
    }
}
