.nightmode-background {
    background-color: $greyUltraDark;
}

.nightmode-text-light {
    color: $greyMedium;
}

.nightmode-text-dark {
    color: $greyDark;
}

.nightmode-shapes-triangle {
    &:after {
        border-color: transparent transparent $greyUltraDark transparent !important;
    }
}
