.nightmode-background {
    background-color: $greyVeryDark;
}

.nightmode-text-light {
    color: $greyMedium;
}

.nightmode-text-dark {
    color: $greyDark;
}

.nightmode-shapes {
    opacity: .04;
}

.nightmode-shapes-triangle {
    &:after {
        border-color: transparent transparent $greyVeryDark transparent !important;
    }
}
