.story {
    float: none;
    margin: 0 auto $verticalSpaceExtraLarge auto;
    width: 50%;

    > h2 {
        margin-bottom: .2em;
    }

    > span {
        margin-bottom: 2.8em;
        display: inline-block;
    }

    @media (max-width: $breakpointSmall) {
        width: 80%;
    }
}

.story-about {
    margin-top: 15em;
}

.story-section {
    position: relative;
    margin-bottom: $verticalSpaceMedium;

    > h3 {
        position: absolute;
        text-align: right;
        transform: translateX(-150%) translateY(58%);

        @media (max-width: $breakpointSmall) {
            position: relative;
            text-align: left;
            transform: none;
        }

    }
}
