.story {
    float: none;
    margin: 0 auto $verticalSpaceExtraLarge auto;
    width: 40%;
}

.story-about {
    margin-top: 15em;
}

.story-section {
    position: relative;
    margin-bottom: $verticalSpaceMedium;

    > h3 {
        position: absolute;
        text-align: right;
        transform: translateX(-150%) translateY(58%);;

    }
}
