.twitter-getter {
    width: 45%;
    float: left;
}

.twitter-getter-tweet {
    color: $greyDark;
    font: $paragraph;
    margin-bottom: 1em;

    > a {
        color: $greyDark;
        &:hover {
            text-decoration: underline;
        }
    }

    > img {
        max-height: 1em;
    }
}

.twitter-getter-time {
    color: $greyMedium;
    font: $paragraph;
}
