.b-lazy {
   opacity: 0;
   transform: translateY(50px);
   transition: all 1.5s ease;
}
.b-loaded {
   transform: translateY(0);
   opacity: 1;
}

.work {
	@extend %clearfix;

	display: block;
	margin: 0 auto;
	padding-top: 9.875em;
}

.final {
	background-color: #F87F7B;
}

.skoop {
    background-color: #DFDFDF;
}

.ftre {
	background-color: #BBEAED;
}

.signup {
	background-color: #f7f7f7;
}

.nomad {
	background-color: #C3A3D3;
}

.platform {
    background-color: #E4B9D4;
}
.work-item {
	margin: 0 1.5% 1.5% 0;
    width: 32.3333333333%;
    float: left;
    display: block;
	position: relative;

	transition: all .5s ease;

	> a {
		border-radius: 6px;
		overflow: hidden;
		display: block;
	}

	> a:after {
		content: "";
	    position: absolute;
	    z-index: -1;
	    width: 80%;
	    height: 10em;
	    margin: 0 10%;
	    bottom: 0;
	    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
	    opacity: 0;


	    transition: all .3s ease;
	}
}

.work-item:nth-of-type(3n+3) {
    margin-right: 0;
}

.work-item-thumbnail {
	display: block;
	width: 100%;
}

.work-item-description {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 2.875em;
	opacity: 0;
	display: flex;
	align-items: center;
	border-radius: 6px;

	transition: all $shortDuration $bezier;
}

.work-item-description-company {
	font: $label;
	color: $white;
	opacity: .5;
	position: absolute;
	top: 4.6em;
	display: block;
}

.work-item-description-company-dark {
	font: $label;
	color: $black;
	opacity: .5;
	position: absolute;
	top: 4.6em;
	display: block;
}

.work-item-description-title {
	font: $headingTwo;
	color: $white;
	display: block;
	margin-bottom: $verticalSpaceSmall;
}

.work-item-description-summary {
	font: $paragraph;
	color: $white;
	opacity: .5;
	display: block;
}

.work-item-description-title-dark {
	font: $headingTwo;
	color: $black;
    opacity: .4;
	display: block;
	margin-bottom: $verticalSpaceSmall;
}

.work-item-description-summary-dark {
	font: $paragraph;
	color: $black;
	opacity: .3;
	display: block;
}

.work-item:hover {
	transform: translateY(-8px) scale(1.015);

	// ~ li {
	// 	filter: grayscale(100%) opacity(10%);;
	// }

	> a:after {
        opacity: 1;
	}

	.work-item-description {
		opacity: 1;
	}

	.work-item-thumbnail {
		filter: grayscale(100%);
	}
}
