.work {
	@extend %clearfix;

	display: block;
	margin: 0 auto;
	padding-top: 9.875em;
}

.work-item {
	margin: 0 1.5% 1.5% 0;
    width: 32.3333333333%;
    float: left;
    display: block;
	position: relative;

	transition: all .3s ease;

	> a {
		border-radius: 6px;
		overflow: hidden;
		display: block;
	}

	> a:after {
		content: "";
	    position: absolute;
	    z-index: -1;
	    width: 80%;
	    height: 10em;
	    margin: 0 10%;
	    bottom: 0;
	    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5);
	    opacity: 0;


	    transition: all .3s ease;
	}
}

.work-item:nth-of-type(3n+3) {
    margin-right: 0;
}

.work-item-thumbnail {
	display: block;
	width: 100%;
}

.work-item-description {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	padding: $verticalSpaceMedium;
	opacity: 0;
	background-color: rgba(0, 0, 0, .75);
	display: flex;
	align-items: center;
	border-radius: 6px;

	transition: all $shortDuration $bezier;
}

.work-item-description-company {
	font: $label;
	text-transform: uppercase;
	letter-spacing: .10em;
	color: $greyDark;
	margin-bottom: .5em;
	display: block;
}

.work-item-description-skills {
	font: $paragraphSmall;
	color: $greyDark;
	position: absolute;
	bottom: $verticalSpaceMedium;
}

.work-item-description-title {
	font: $headingTwo;
	color: $white;
	display: block;
}

.work-item:hover {
	transform: translateY(-8px) scale(1.015);

	> a:after {
        opacity: 1;
	}

	.work-item-description {
		opacity: 1;
	}

	.work-item-thumbnail {
		filter: grayscale(100%);
	}
}
