.work {
	@extend %clearfix;

	z-index: 1;
}

.work-item {
	width: 100%;

	height: 17.5em;

	> a {

		display: flex;
		align-items: center;
	}
}

.work-item-loaded {
    transform: translateY(0px);
    opacity: 1;
}

.work-item-thumbnail {
	display: block;
	width: 12.5em;
	height: 12.5em;
}

.work-item-description {
	padding-left: 2.5em;
	width: 60%;

}

.work-item-description-title {
	font: $heading-3;
	color: $white;
	margin-bottom: 0.5em;

    @media (max-width: $breakpointMedium) {
        font: $medium28;
    }
}

.work-item-description-summary {
	font: $bodyRegular;
	color: $white-40;
	margin-bottom: $verticalSpaceRegular;

    @media (max-width: $breakpointMedium) {
        font: $regular12;
    }
}

.work-item-cta {
	font: $cta;
	color: $accent;
}
