---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

    {% include header.html %}
    <img class="post-image-header"src="{{ page.headerImage }}" alt="Screens from signup">
    <!-- <video class="post-video" src="../images/signup/vis.mp4" autoplay="true"></video> -->
    <div class="wrapper">
        <section class="story grid col-one-third">
            <h2 class="heading-one">{{ page.title }}</h2>
            <section class="story-section">
                <h3 class="label">Overview</h3>
                {% for paragraph in page.overview %}
                    <p>{{ paragraph | textilize }}</p>
                {% endfor %}
            </section>

            <section class="story-section">
                <h3 class="label">Outcome</h3>
                {% for paragraph in page.outcome %}
                    <p>{{ paragraph | textilize }}</p>
                {% endfor %}
            </section>

            <section class="story-section">
                <h3 class="label">Tools</h3>
                {% for paragraph in page.tools %}
                    <p>{{ paragraph | textilize }}</p>
                {% endfor %}
            </section>
        </section>
        <div>
            {{ content }}
        </div>
        {% include footer.html %}
    </div>
    {% include scripts.html %}
</body>
</html>
