body {
    margin-bottom: 20em;
    background-color: $siteBackground;
    height: 100%;
    overflow: auto;
    transition: all $durationLong ease;
}

html {
    background-color: $siteBackground;
}

button {
    border: none;
    background-color: transparent;
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: $greyDark;
}

li {
    list-style: none;
}

h1 {
   font: $heading-1;
   color: $white;
}

h2 {
   font: $heading-2;
   color: $white;
   margin-bottom: 0.8em;
}

h3 {
   font: $heading-3;
   color: $white;
}
