body {
    transition: all .5s ease;
    margin-bottom: 20em;
    background-color: $white;
    
}

html {
    background-color: $white;
}

// p {
//     font: $paragraph;
//     color: $greyDark;
//     margin-bottom: .8em;
// }

li {
    font: $paragraph;
    color: $greyDark;
}

button {
    border: none;
    background-color: transparent;

}

button:focus {
    outline: none;

}
