@font-face {
	font-family: 'Circular Std Book';
	src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
		url('../fonts/CircularStd-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.heading-one {
    font: $headingOne;
    color: $copyDark;
	margin-bottom: $verticalSpaceMedium;
}

.paragraph-light {
	font: $paragraph;
	color: $copyLight;
}

.paragraph-dark {
	font: $paragraph;
	color: $copyDark;
}

.label {
    font: $label;
    color: $copyLight;
    text-transform: uppercase;
    letter-spacing: .15em;
	margin-bottom: 1rem;
}
