@font-face {
	font-family: 'Circular Std Book';
	src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
		url('../fonts/CircularStd-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.heading-one {
    font: $headingOne;
    color: $greyDark;
	margin-bottom: $verticalSpaceMedium;
}

.paragraph-light {
	font: $paragraph;
	color: $greyMedium;
	margin-bottom: .8em;
}

.paragraph-dark {
	font: $paragraph;
	color: $greyDark;
	margin-bottom: .8em;
}

.label {
    font: $label;
    color: $greyMedium;
    text-transform: uppercase;
    letter-spacing: .2em;
	margin-bottom: 1rem;
}
