.wrapper {
    width: 60%;
    margin: 0 auto;
    position: relative;

    @media (max-width: $breakpointLarge) {
			width: 75%;
		}
}

.wrapper-home {
    display: flex;
    align-items: center;
    height: 100vh;
}

.wrapper-with-header {
    margin-top: $headerSpace;
}
