#content {
    width: 100%;
    margin-top: 10em;
    margin-bottom: 8em;
}

#content-home {
    width: 100%;
    margin-top: 0em;
    margin-bottom: 8em;
}

.no-transition {
  transition: none !important;
}

.no-scroll {
    overflow: hidden;
}


.content-hidden {
    visibility: hidden;
    opacity: 0;
}

.content-visible {
    visibility: visible;
    opacity: 1;
}

.wrapper-home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20% 0 20%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $breakpointLarge) {
        padding: 0 12.5% 0 12.5%;
    }
}

.wrapper-work {
    width: 50%;
    margin: 0 auto;
    position: relative;
    padding: 0 auto 8em auto;

    @media (max-width: $breakpointLarge) {
        width: 66.6%;
    }

    @media (max-width: $breakpointMedium) {
        width: 75%;
    }

    @media (max-width: $breakpointSmall) {
        width: 100%;
    }
}

.wrapper-about {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    @extend %clearfix;

    width: 50%;
    margin: 0 auto;
    position: relative;

    @media (max-width: $breakpointLarge) {
        width: 66.66%;
    }

    @media (max-width: $breakpointMedium) {
        width: 75%;
    }
}

.wrapper-with-header {
    margin-top: $headerSpace;
}
