#content {
    width: 100%;

    // padding-top: 130vh;
}

.no-transition {
  transition: none !important;
}

#about {
    height: 100vh;
    width: 100%;
    background-color: red;
    visibility: hidden;
    opacity: 0;
}

.content-hidden {
    visibility: hidden;
    opacity: 0;
}

.content-visible {
    visibility: visible !important;
    opacity: 1 !important;
}

.wrapper-home {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 20% 0 20%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
}

.wrapper-work {
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 10em 0 8em 0;
}

.wrapper-about {
    width: 60%;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    @extend %clearfix;

    width: 60%;
    margin: 0 auto;
    position: relative;

    // @media (max-width: $breakpointLarge) {
	// 		width: 75%;
	// 	}
}

.wrapper-with-header {
    margin-top: $headerSpace;
}
